.vs/
./vs
vs/
.vs/*
appsettings.json
appsettings.Development.json
backend_api_rest/appsettings.json
backend_api_rest/appsettings.Development.json
backend_api_rest/obj
backend_api_rest/bin
front_end_react/.idea
front_end_react/.idea/*
