.vs/
./vs
vs/
.vs/*
appsettings.json
appsettings.Development.json
**/appsettings.json
**/appsettings.Development.json
**./vs
**vs/
**obj/
backend_api_rest/appsettings.json
backend_api_rest/appsettings.Development.json
backend_api_rest/appsettings.json/*
backend_api_rest/appsettings.Development.json/*
./backend_api_rest/obj/*
./backend_api_rest/obj
backend_api_rest/obj
backend_api_rest/obj/*
backend_api_rest/Properties
backend_api_rest/bin
backend_api_rest/obj/.vs/
backend_api_rest/bin/Debug/*
backend_api_rest/
front_end_react/.idea
front_end_react/.idea/*
